.header {
    background-color: #222;
    height: 36px;
    width: auto;
    padding: 8px 32px 6px 16px;
    display: flex;
    justify-content: space-between;
}

.logo {
    background-color: #ff7f7f;
    height: 35px;
    animation-duration: 8s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    backface-visibility: visible;
    animation-name: flip;
}

@keyframes flip {
    0% {transform: perspective(400px) translateZ(0) rotateY(0) scale(1);animation-timing-function: linear;}
    100% {transform: perspective(400px) translateZ(0) rotateY(180deg) scale(1);animation-timing-function: linear;}
}

.nav-buttons button {
    margin-left: 4px;
}

#headerLoginRegister {
    display: flex;
}

#headerLoginRegister div {
    padding: 10px 30px;
}

#headerLoginRegister .active {
    border-bottom: 2px solid #f00;
}
